*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  min-inline-size: 360px;
  margin: 0;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

:root{
  --accent-color: #FFAB6B;
  --main-font: Raleway, Arial, Helvetica, serif;
  --accent-font: 'STIX Two Text', 'Arial', 'Helvetica';
}

.page{
  background-color: var(--bg-color, #F3EFEC); 
  color: var(--text-color, #312A4E);
}

.header{
  padding-top: 10%;
}

.heading{
  font-family: var(--accent-font);
  line-height: 90%;
  font-weight: 600;
  text-align: center;
}

.content-section{
  padding: 0 5vi;
}

.header__title{
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
  margin-bottom: 40px;
}

.content__title{
  font-size: 30px;
  margin: 7% 0 2.5% 0;
}

.content__text-block{
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 27px;
}

.content__text-block_type_first-lettered{

}

.content__text-block_type_first-lettered .content__paragraph:first-child::first-letter{
  display: inline-block;
  background-color: var(--accent-color);
  font-weight: 600;
  padding: 0 4px;
  margin-right: 1px;
}
    
.content__link{
  color: currentColor;
}

.content__text-block .content__paragraph:not(:last-child){
  margin-bottom: 1.5em;
}

.content__blockquote{
  font-style: italic;
  line-height: 50px;
  width: 75%;
  margin:0 auto 1.5em auto;
}

.content__list{
  list-style-type: none;
  padding-left: 40px;
}

.content__item{
  position: relative;
}

.content__item::before{
  content: '';
  position: absolute;
  top: 7px;
  left: -25px;
  display: block;
  width: 15px;
  height: 15px;
  background-image: url('../images/marker-light.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.content__item:not(:last-child){
  margin-bottom: 10px;
}

.content__figure{
  margin: 7% 0;
  width: calc(100% + 10vi);
  position: relative;
  right: 5vi;
}

.content__picture-caption{
  font-family: var(--main-font);
  padding: 20px 0;
  text-align: center;
  border-bottom: 1px solid var(--text-color, #312A4E);

  
}

.content__picture{
  width: 100%;
}